.shared-btn {
  background-color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
  border-radius: 50pt !important;
  font-size: 14px !important;
  padding-left: 20pt !important;
  padding-right: 20pt !important;
  padding-top: 5pt !important;
  padding-bottom: 5pt !important;
}

.shared-btn:hover {
  background-color: var(--main-color) !important;
  opacity: 0.9 !important;
}

.shared-btn-light {
  background-color: white !important;
  border: 1px solid white !important;
  border-radius: 50pt !important;
  font-size: 14px !important;
  padding-left: 20pt !important;
  padding-right: 20pt !important;
  padding-top: 5pt !important;
  padding-bottom: 5pt !important;
  color: var(--main-color) !important;
}

.shared-btn-light:hover {
  background-color: white !important;
  opacity: 0.9 !important;
}

#bordered-card {
  background: transparent !important;
  border-color: white !important;
}
