.navbar-nav a {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
}

#navnav {
  display: flex;
  justify-content: center;
}

.nav-link {
  margin-left: 15px;
}

.navbar-brand {
  font-weight: 500;
  font-size: 1.4rem;
}

.nav-bar-contactus {
  border-radius: 50px;
  color: white !important;
  width: 100pt;
  text-align: center;
  background: var(--main-color);
  border: 1px solid var(--main-color-2) !important;
}

.nav-bar-contactus:hover {
  background: transparent !important;
  border: 1px solid var(--main-color-2) !important;
  color: var(--main-color-2) !important;
}

.about-us-section {
  background-color: #f8f9fa;
  border-radius: 20px;
}

.link-text {
  color: black;
  text-decoration: none;
}
.hero-right img {
  padding-left: 30pt;
}

.link-text:hover {
  color: black;
  text-decoration: none;
  opacity: 0.9;
}

.main-bg {
  background: var(--main-bg);
}

.md-container {
  padding: 0pt 90pt 0pt 90pt;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.slick-slide .card-wrapper {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f8f9fa;
  padding-top: 8pt;
  padding-left: 10pt;
  padding-right: 10pt;
  border-radius: 5pt;
  text-align: center;
  padding-bottom: 20pt;
}

.navBar .animated-border {
  position: relative;
}

.navBar .animated-border::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--main-color-2);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navBar .animated-border:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.react-tel-input input {
  width: 100% !important;
  height: 37px !important;
}

.domain-list {
  list-style: none;
  padding-left: 5pt;
}

.domain-list li {
  margin-bottom: 6pt;
}

.tick-icon {
  margin-right: 15pt !important;
}

@media (max-width: 480px) {
  .md-container {
    padding: 0pt 20pt 0pt 20pt;
  }
  #navnav {
    padding-left: 25pt;
    padding-right: 25pt;
    justify-content: space-between !important;
  }
  .navitems {
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
  }
  .navitems a {
    margin-top: 5px;
  }
  #hero-section {
    margin-top: 20pt !important;
    margin-bottom: 20pt !important;
    text-align: center;
  }
  .hero-left {
    display: flex !important;
  }
  #ourSolutionCol {
    margin-bottom: 20pt;
  }
  #ourSolutionRow {
    width: 90% !important;
  }
  #ourDomainDesc {
    padding-left: 10pt !important;
    padding-right: 10pt !important;
  }
  #ourDomainCol {
    margin-bottom: 20pt;
  }
  #ourTopStoriesCol {
    text-align: center;
    margin-bottom: 20pt !important;
  }
  #ourTopStoriesCol div {
    text-align: center !important;
    margin-top: 0px !important;
    margin-bottom: 30pt;
  }

  .ourTopStoriesCol2A {
    padding-bottom: 30pt;
  }

  #ourTopStoriesCol2 {
    display: flex;
    justify-content: center;
  }
  #ourTopStoriesCol2 div {
    display: block !important;
  }
  #aboutUsCol div {
    display: block !important;
  }
  #aboutUsCol div p {
    width: 100% !important;
    text-align: center !important;
    padding-top: 0px !important;
  }
  #aboutUsImg {
    height: 100% !important;
    width: 100% !important;
    margin-top: 10pt;
  }
  #FormText {
    text-align: center !important;
    margin-bottom: 5pt;
  }
  .hero-right {
    margin-top: 30pt;
  }
  .hero-right img {
    height: 180pt !important;
    padding-left: 0pt !important;
  }
  #newsLetterInput {
    width: 100% !important;
  }
  #newsLetterInput input {
    width: 80% !important;
  }
  #newsLetterCol {
    display: block !important;
  }
  #newsLetterCol div {
    text-align: center !important;
  }
  #newsLetterCol button {
    margin-top: 10pt !important;
    width: 70% !important;
    margin-bottom: 10pt !important;
  }
  .contactUsP {
    padding: 0 !important;
  }
  #ContactUsRow {
    margin-top: 60pt !important;
  }
  #NewsLetterButton {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    margin-top: 5pt;
  }
  #NewsLetterButton button {
    width: 67% !important;
  }
  #WebLogo {
    height: 22pt !important;
  }
  .d1Image {
    height: 150pt !important;
  }
  .d2Image {
    height: 140pt !important;
  }
  .d3Image {
    height: 130pt !important;
  }
  .d4Image {
    height: 130pt !important;
  }
  #OurDomainContainer {
    text-align: center;
  }
  #ourDomainRow {
    padding-left: 15pt !important;
    padding-right: 15pt !important;
  }
  .domain-desc {
    padding-right: 0px !important;
  }
  .domain-list {
    text-align: left !important;
  }
  #DomainImage {
    display: block !important;
  }
  .domain-list {
    padding-left: 0px !important;
  }
  #ourDomainRow {
    margin-bottom: 60pt !important;
  }
  .retail-icon {
    margin-left: 0px !important;
  }
}
