.navbar-nav a {
  color: black;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.nav-link {
  margin-left: 15px;
}

.navbar-brand {
  font-weight: 500;
  font-size: 1.4rem;
}

.nav-bar-contactus {
  border-radius: 50px;
  color: white !important;
  width: 100pt;
  text-align: center;
  background-color: #008080;
}

.nav-bar-contactus:hover {
  opacity: 0.9;
}

.about-us-section {
  background-color: #f8f9fa;
  border-radius: 20px;
}
