.Footer {
  padding-top: 25pt;
  padding-bottom: 20pt;
}

.hr {
  border: 1px solid white !important;
}

.footer-icon {
  margin-left: 20pt;
  color: white;
}

.footer-icon:hover {
  color: var(--main-color);
}

.footer-ul {
  list-style: none;
}

.footer-ul li {
  font-weight: 200;
  cursor: pointer;
  margin-bottom: 5px;
}

.newsletter {
  padding-top: 5pt;
  padding-bottom: 5pt;
  padding-left: 5pt;
  width: 100%;
  background: transparent;
  border: 1px solid white;
  color: white;
}
